---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { getAlbumImages } from "../../utils/albums";

export async function getStaticPaths() {
    const albums = await getCollection('albums');

    const paths = Object.values(albums).map((album) => {
        return {
            params: {
            id: album.id,
            },
            props: {
                album,
            },
        };
    });

  return paths;
}

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <div>
                <h1>
                    {album.data.title}
                </h1>
                <p>
                    {album.data.description}
                </p>
            
                <div>
                    {
                        images.map((image) => (
                            <a href={`${image}`}>
                                <Image
                                    src={image}
                                    alt={`from ${album.data.title} album`}
                                    format="avif"
                                    quality={50}
                                    loading="lazy"
                                    data-album-image
                                />
                            </a>
                        ))
                    }
                </div>
            
                <p>
                    <a href="/portfolio/">Return to portfolio</a>
                </p>
            </div>
		</main>
		<Footer />
	</body>
</html>